<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">Admin Dashboard</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" (click)="toggleNavigation()"><i
            class="fa fa-bars"></i></button>
    
    <!-- user dropdown goes here -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <div class="profile">
                <div class="profile-name">
                    <p class="dropdown-item">{{userName}}</p>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
    
                </div>
                <!-- <a class="nav-link dropdown-toggle pointer" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" (click)="showUserDropdown()">
                    <i class="fa fa-user fa-fw"></i>
                </a> -->
                <a id="userDropdown" >
                    <!-- <i class="fa fa-user fa-fw"></i> -->
                    <img class="profile-image" alt="" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6OhFjMDXhnDf561cx1q0kfHv8E2Z3Y_CzP8mFgqGtSvF3fngXTxgDyyQLPGGILpwzHe8&usqp=CAU' />
                </a>
                </div>
            <!-- <div class="dropdown-menu dropdown-menu-right" [class.show]="isDropdownClicked"
                aria-labelledby="userDropdown">
                <p class="dropdown-item">{{userName}}</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div> -->
        </li>
    </ul>
</nav>
