
<!-- <div class="dashboard-page-body"> -->
    <div class="total-label-div">
        <div class="total-rides dashboard-card">
            <div class="dashboard-card-label">
                <label>Total Rides</label>
            </div>
            <div class="dashboard-card-reading">
                <label>{{totalRides}}</label>
            </div>

        </div>
        <div class="money-earned dashboard-card">
            <div class="dashboard-card-label">
                <label>Money Earned</label>
            </div>
            <div class="dashboard-card-reading">
                <label>{{moneyEarned}}</label>
            </div>
        </div>
        <div class="money-sent dashboard-card">
            <div class="dashboard-card-label">
                <label>Money Sent</label>
            </div>
            <div class="dashboard-card-reading">
                <label>{{moneySpent}}</label>
            </div>
        </div>
    </div>
    
<!-- </div> -->