<h1 class="mt-5">Driver Details</h1>

<div class="d-flex justify-content-between">
    <div class="heading5">Create Vehicle</div>
    <div>
        <a routerLink="/drivers">Return to drivers</a>
    </div>
</div>

<div>
    <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Vehicle Num</label>
            <input type="text" formControlName="vehicleNum" class="form-control" />
            
            <div class="form-group">
                <label>Vehicle Name</label>
                <input type="text" formControlName="vehicleName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Vehicle Model</label>
                <input type="text" formControlName="vehicleModel" class="form-control" />
                
            </div>
            <div class="form-group" >
                <label>Vehicle Color</label>
                <input type="text" formControlName="vehicleColor"class="form-control" />
            </div>
            <div class="form-group">
                <label>Drivers</label>
                <select class="form-control" formControlName="driverDetail">
                    <option *ngFor="let driver of driverDetails" [value]="driver.id" >{{driver.user.firstName}}</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
