<h1 class="mt-4">Drivers</h1>
<ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Drivers</li>
</ol>
<div class="page-body box">
    <div class="create-btn d-flex justify-content-end">
        <div>
            <a routerLink="/create-driver">Create Driver</a>
            <!-- <a style="color: blue; cursor: pointer;" (click)="open(content)">Create Customer</a> -->
        </div>
    </div>
    <div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink>New Users</a>
            <ng-template ngbNavContent>
 
                <div class="data-table-div">
                    <table *ngIf="drivers != null && drivers.length > 0" class="table table-sm row-border hover" datatable
                        [dtOptions]="dtOptions">
                        <thead>
                            <tr>
                                <th>Register Id</th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let driver of drivers">
                                <td>{{driver.user.id}}</td>
                                <td>{{driver.user.firstName}} {{driver.user.lastName}}</td>
                                <td>{{driver.user.mobileNumber}}</td>
                                <td>{{driver.user.emailId}}</td>
                                <td>{{driver.user.status == 1 ? 'Active' : 'In Active'}}</td>
                                <td>
                                    <div class="db-buttons">
                                        <a class="file-visibility-btn" ngbTooltip="View" [routerLink]="['/driver-view']" [queryParams]="{id: driver.user.id}"  [state]="[driver.user]"  >
                                            <mat-icon>visibility</mat-icon>
                                        </a>
                                        <a class="file-copy-btn" ngbTooltip="Copy" >
                                            <mat-icon>file_copy</mat-icon>
                                        </a>
                                        <a class="edit-btn" ngbTooltip="Edit"  >
                                            <mat-icon>edit</mat-icon>
                                        </a>
                                        <a class="delete-btn" ngbTooltip="Delete" >
                                            <mat-icon>delete</mat-icon>
                                        </a>
                                        <a *ngIf="driver.driverVerificationStatus=='completed'">
                                            <section class="example-section">
                                                <mat-slide-toggle
                                                    class="example-margin"
                                                    [color]="color"
                                                    [checked]="true"
                                                    [disabled]="disabled" (click)="verification(driver.id, 'assigned')">
                                                InActivate
                                                </mat-slide-toggle>
                                            </section>
                                        </a>
                                        <a *ngIf="driver.driverVerificationStatus!='completed'">
                                            <section class="example-section">
                                                <mat-slide-toggle
                                                    class="example-margin"
                                                    [color]="color"
                                                    [checked]="false"
                                                    [disabled]="disabled" (click)="verification(driver.id, 'completed')">
                                                Activate
                                                </mat-slide-toggle>
                                            </section>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </ng-template>
        </li>
    </ul>
</div>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>